@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}


:root{
    --cor1: #F2F2F2;
    --cor2: #BF0F30;
    --cor3: #5D8C87;
    --cor4: #D9A577;
    --cor5: #2F6073;
    --cor6: #A64138;
    --bg2: #1d1c1c;
    --bg: #262425;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.top {
    text-align: center;
    padding-top: 10px;
    margin-left: 30px;
    color: var(--cor1);
    background-color: var(--bg);

    & h1{
        font-weight: 800;
    }
}

.howtoplay{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    align-content: start;
}

.icons{
    padding-top: 2px;
    width: 28px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    color: var(--cor1);
    text-align: center;
}

.container{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}


.content form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: start;
    background-color: var(--bg2);
    min-width: 300px;
    min-height: 300px;
    max-height: 10000px;
    margin-bottom: 100px;
    border-radius: 10px;
    
    & h2{
        display: flex;
        width: 322px;
        font-size: 2em;
        color: var(--cor3);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.726);
    }

    & p {
        margin-top: 100px;
        font-size: 2em;
        color: var(--cor3);
    }

    /* & .submit{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        background-color: var(--cor6);
        color: var(--cor1);
        font-weight: 700;
    } */

}

.tentativa_container{
    margin-top: 10px;
    margin-bottom: 5px;
}

.tentativa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin: 7px;
    background-color: var(--cor5);
    border: 3px solid var(--bg2);
    outline: 2px solid var(--cor1);
    border-radius:  5px;
    font-size: 1.2em;
    color: var(--cor1);
}

.adv{
    all: unset;
    height: 40px;
    width: 270px;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--bg);
    border: none;
    text-decoration: none;
    border-radius: 10px;
    color: var(--cor1);
    font-size: 16px;
    font-weight: 700;
}

.congrats_popup {
    visibility: hidden; /* mudar */
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg2);
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    height: 350px;
    border: 1px solid var(--cor1);

    & h1 {
        color: var(--cor3);
        margin-bottom: 10px;
        text-shadow: 1px 1px 5px #0c0b0b5b;
    }
    
    & p {
        color: var(--cor1);
        text-shadow: 1px 1px 5px #0c0b0b5b;
    }

    & .again_bnt{
        margin-top: 20px;
        padding: 10px;
        width: 300px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        background-color: var(--cor3);
        color: var(--cor1);
        font-weight: 700;
        text-shadow: 1px 1px 5px #253a3846;
    }
}

footer{
    margin-top: 90px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--cor1);
}